In [2]:
import sqlite3 as sql

### Assignment 1: Creating and Connecting to a Database

1. Write a Python function to create a new SQLite3 database named `test.db`.

In [5]:
conn=sql.connect('test.db')

2. Write a Python function to create a table named `employees` with columns `id` (integer), `name` (text), `age` (integer), and `department` (text) in the `test.db` database.

In [6]:
cursor=conn.cursor()

In [11]:
cursor.execute('''
Create table if not Exists employees(
    id Integer Primary Key,
    name Text Not Null,
    age Integer,
    department Text
    )
''')
conn.commit()

In [17]:
cursor.execute('''
PRAGMA table_info(employees)
''')
for row in cursor.fetchall():
    print(row)

(0, 'id', 'INTEGER', 0, None, 1)
(1, 'name', 'TEXT', 1, None, 0)
(2, 'age', 'INTEGER', 0, None, 0)
(3, 'department', 'TEXT', 0, None, 0)

### Assignment 2: Inserting Data

1. Write a Python function to insert a new employee into the `employees` table.

In [21]:
cursor.execute('''
    Insert into employees
    values(1 ,"Pradyumn Bisht",25,"Computer Science")
''')
conn.commit()

In [22]:
cursor.execute(
    '''
        Select * 
        from employees
    '''
)
for row in cursor.fetchall():
    print(row)

(1, 'Pradyumn Bisht', 25, 'Computer Science')

2. Insert at least 5 different employees into the `employees` table.

In [23]:
cursor.execute('''
    Insert into employees(id,name,age,department)
    values
    (2 ,"Jack Jack",3,"Public Servent"),
    (3,"Batman",30,"SuperHero"),
    (4,"Thor Odinson",1500,'Norse God'),
    (5,"Edward Snowden",27,'NSA Conntractor'),
    (6,"Miles Morales",15,"HighSchooler")

''')
conn.commit()

In [24]:
cursor.execute(
    '''
        Select * 
        from employees
    '''
)
for row in cursor.fetchall():
    print(row)

(1, 'Pradyumn Bisht', 25, 'Computer Science')
(2, 'Jack Jack', 3, 'Public Servent')
(3, 'Batman', 30, 'SuperHero')
(4, 'Thor Odinson', 1500, 'Norse God')
(5, 'Edward Snowden', 27, 'NSA Conntractor')
(6, 'Miles Morales', 15, 'HighSchooler')

### Assignment 3: Querying Data

1. Write a Python function to fetch and display all records from the `employees` table.

In [25]:
cursor.execute(
    '''
        Select * 
        from employees
    '''
)
for row in cursor.fetchall():
    print(row)

(1, 'Pradyumn Bisht', 25, 'Computer Science')
(2, 'Jack Jack', 3, 'Public Servent')
(3, 'Batman', 30, 'SuperHero')
(4, 'Thor Odinson', 1500, 'Norse God')
(5, 'Edward Snowden', 27, 'NSA Conntractor')
(6, 'Miles Morales', 15, 'HighSchooler')

2. Write a Python function to fetch and display all employees from a specific department.

In [ ]:
cursor.execute(
    '''
        Select * 
        from employees
        where department="SuperHero"
        
    '''
)
for row in cursor.fetchall():
    print(row)

(3, 'Batman', 30, 'SuperHero')

### Assignment 4: Updating Data

1. Write a Python function to update the department of an employee based on their `id`.

In [31]:
cursor.execute(
    '''
        Select * 
        from employees
        where id=1
       
    '''
)
for row in cursor.fetchall():
    print(row)

(1, 'Pradyumn Bisht', 25, 'Computer Science')

In [34]:
cursor.execute(
    '''
        UPDATE employees
        set department="Data Scientist"
        where id=1
       
    '''
)
conn.commit()
cursor.execute(
    '''
        Select * 
        from employees
        where id=1
       
    '''
)
for row in cursor.fetchall():
    print(row)

(1, 'Pradyumn Bisht', 25, 'Data Scientist')

2. Update the department of at least 2 employees and display the updated records.

In [35]:
cursor.execute(
    '''
        Select * 
        from employees
       
    '''
)
for row in cursor.fetchall():
    print(row)

(1, 'Pradyumn Bisht', 25, 'Data Scientist')
(2, 'Jack Jack', 3, 'Public Servent')
(3, 'Batman', 30, 'SuperHero')
(4, 'Thor Odinson', 1500, 'Norse God')
(5, 'Edward Snowden', 27, 'NSA Conntractor')
(6, 'Miles Morales', 15, 'HighSchooler')

In [38]:
cursor.execute(
    '''
        UPDATE employees
        set department="Hero"
        where id=3 OR id= 4
       
    '''
)
conn.commit()
cursor.execute(
    '''
        Select * 
        from employees
       
    '''
)
for row in cursor.fetchall():
    print(row)

(1, 'Pradyumn Bisht', 25, 'Data Scientist')
(2, 'Jack Jack', 3, 'Public Servent')
(3, 'Batman', 30, 'Hero')
(4, 'Thor Odinson', 1500, 'Hero')
(5, 'Edward Snowden', 27, 'NSA Conntractor')
(6, 'Miles Morales', 15, 'HighSchooler')

### Assignment 5: Deleting Data

1. Write a Python function to delete an employee from the `employees` table based on their `id`.

In [39]:
cursor.execute(
    '''
        Select * 
        from employees
       
    '''
)
for row in cursor.fetchall():
    print(row)

(1, 'Pradyumn Bisht', 25, 'Data Scientist')
(2, 'Jack Jack', 3, 'Public Servent')
(3, 'Batman', 30, 'Hero')
(4, 'Thor Odinson', 1500, 'Hero')
(5, 'Edward Snowden', 27, 'NSA Conntractor')
(6, 'Miles Morales', 15, 'HighSchooler')

In [40]:
cursor.execute('''
    DELETE from employees
    where id=5
''')
conn.commit()

In [41]:
cursor.execute(
    '''
        Select * 
        from employees
       
    '''
)
for row in cursor.fetchall():
    print(row)

(1, 'Pradyumn Bisht', 25, 'Data Scientist')
(2, 'Jack Jack', 3, 'Public Servent')
(3, 'Batman', 30, 'Hero')
(4, 'Thor Odinson', 1500, 'Hero')
(6, 'Miles Morales', 15, 'HighSchooler')

2. Delete at least 1 employee and display the remaining records.

In [42]:
cursor.execute('''
    DELETE from employees
    where id=6
''')
conn.commit()

In [43]:
cursor.execute(
    '''
        Select * 
        from employees
       
    '''
)
for row in cursor.fetchall():
    print(row)

(1, 'Pradyumn Bisht', 25, 'Data Scientist')
(2, 'Jack Jack', 3, 'Public Servent')
(3, 'Batman', 30, 'Hero')
(4, 'Thor Odinson', 1500, 'Hero')

### Assignment 6: Advanced Queries

1. Write a Python function to fetch and display employees older than a certain age.

In [44]:
cursor.execute(
    '''
        Select * 
        from employees
        where age>24
       
    '''
)
for row in cursor.fetchall():
    print(row)

(1, 'Pradyumn Bisht', 25, 'Data Scientist')
(3, 'Batman', 30, 'Hero')
(4, 'Thor Odinson', 1500, 'Hero')

2. Write a Python function to fetch and display employees whose names start with a specific letter.

In [46]:
cursor.execute(
    '''
        Select * 
        from employees
        where name LIKE 'B%'
       
    '''
)
for row in cursor.fetchall():
    print(row)

(3, 'Batman', 30, 'Hero')

### Assignment 7: Handling Transactions

1. Write a Python function to insert multiple employees into the `employees` table in a single transaction. Ensure that if any insertion fails, none of the insertions are committed.

In [49]:
data=(
 (11, 'Tony Stark', 38, 'Industrialist'),
 (12, 'Bruce Banner', 35, 'Nuclear Scientist'),
 (13, 'Clark Kent', 28, 'Newspaper Reporter'),
 (14, 'Peter Parker', 18, 'Photographer'),
 (15, 'Charlers Xavier', 45, 'Scientist')
)

In [51]:

try:
    conn.execute("BEGIN")
    cursor.executemany('''
    Insert into employees(id,name,age,department)
    values(?,?,?,?)
    ''',data)
    conn.commit()
except Exception as e:
    conn.rollback()
    print("An Error Occured :",e)

In [52]:
cursor.execute('Select * from employees')
for row in cursor.fetchall():
    print(row)

(1, 'Pradyumn Bisht', 25, 'Data Scientist')
(2, 'Jack Jack', 3, 'Public Servent')
(3, 'Batman', 30, 'Hero')
(4, 'Thor Odinson', 1500, 'Hero')
(11, 'Tony Stark', 38, 'Industrialist')
(12, 'Bruce Banner', 35, 'Nuclear Scientist')
(13, 'Clark Kent', 28, 'Newspaper Reporter')
(14, 'Peter Parker', 18, 'Photographer')
(15, 'Charlers Xavier', 45, 'Scientist')

2. Write a Python function to update the age of multiple employees in a single transaction. Ensure that if any update fails, none of the updates are committed.

In [53]:
cursor.execute('Select * from employees')
for row in cursor.fetchall():
    print(row)

(1, 'Pradyumn Bisht', 25, 'Data Scientist')
(2, 'Jack Jack', 3, 'Public Servent')
(3, 'Batman', 30, 'Hero')
(4, 'Thor Odinson', 1500, 'Hero')
(11, 'Tony Stark', 38, 'Industrialist')
(12, 'Bruce Banner', 35, 'Nuclear Scientist')
(13, 'Clark Kent', 28, 'Newspaper Reporter')
(14, 'Peter Parker', 18, 'Photographer')
(15, 'Charlers Xavier', 45, 'Scientist')

In [55]:
try:
    conn.execute("BEGIN")
    cursor.execute('''
        UPDATE employees
        set age=age+2
        where name like 'B%'
    ''')
    conn.commit()
except Exception as e:
    conn.rollback()
    print("An Error Occured :",e)

In [56]:
cursor.execute('Select * from employees')
for row in cursor.fetchall():
    print(row)

(1, 'Pradyumn Bisht', 25, 'Data Scientist')
(2, 'Jack Jack', 3, 'Public Servent')
(3, 'Batman', 32, 'Hero')
(4, 'Thor Odinson', 1500, 'Hero')
(11, 'Tony Stark', 38, 'Industrialist')
(12, 'Bruce Banner', 37, 'Nuclear Scientist')
(13, 'Clark Kent', 28, 'Newspaper Reporter')
(14, 'Peter Parker', 18, 'Photographer')
(15, 'Charlers Xavier', 45, 'Scientist')

### Assignment 8: Creating Relationships

1. Create a new table named `departments` with columns `id` (integer) and `name` (text).

In [57]:
cursor.execute('''
    Create Table if not exists departments(
        id integer primary key,
        name text not null
    )
''')
conn.commit()

In [59]:
cursor.execute('''
PRAGMA table_info(departments)
''')
for row in cursor.fetchall():
    print(row)

(0, 'id', 'INTEGER', 0, None, 1)
(1, 'name', 'TEXT', 1, None, 0)

2. Modify the `employees` table to include a foreign key referencing the `id` column in the `departments` table.

In [71]:
cursor.execute('''
    ALTER TABLE employees RENAME TO employees_old
''')
cursor.execute('''
    CREATE TABLE employees (
    id INTEGER Primary key,
    name TEXT Not Null,
    age INTEGER,
    department TEXT,
    FOREIGN KEY (id) REFERENCES departments(id)
)
''')
conn.commit()

In [70]:
cursor.execute('''
    INSERT INTO employees (id, names, age, department)
    SELECT id, name, age, department FROM employees_old   

''')
cursor.execute('''
     DROP TABLE employees_old
''')
conn.commit()

In [72]:
cursor.execute('PRAGMA table_info(employees)')
for row in cursor.fetchall():
    print(row)

(0, 'id', 'INTEGER', 0, None, 1)
(1, 'name', 'TEXT', 1, None, 0)
(2, 'age', 'INTEGER', 0, None, 0)
(3, 'department', 'TEXT', 0, None, 0)

3. Write a Python function to insert data into both the `departments` and `employees` tables, ensuring referential integrity.

In [89]:
### since we have added department.id as foreign key then we first need to add data to the departments table then only we can
### add to employees table

def insert_row(parent_table,child_table,row):
    conn=sql.connect('test.db')
    cursor=conn.cursor()

    try:
        cursor.execute(f'''
            Insert into {parent_table} 
            values (?,?)
        ''',(row['id'],row['name']))
        conn.commit()
    except Exception as e:
        print(f"An error occured inserting into {parent_table}: {e}")
    else:
        try:
            cursor.execute(f'''
            Insert into {child_table} 
            values (?,?,?,?)
        ''',(row['id'], row['name'], row['age'], row['department']))
            conn.commit()
        except Exception as e:
            print("An error occured :",e)
    finally:
        conn.close()

row={
    'id':33,
    'name':'Wade wilson',
    'age':30,
    'department':'Assassin'
}
insert_row('departments','employees',row)

In [90]:
cursor.execute('Select * from employees')
for row in cursor.fetchall():
    print(row)

(33, 'Wade wilson', 30, 'Assassin')

In [91]:
cursor.execute('Select * from departments')
for row in cursor.fetchall():
    print(row)

(33, 'Wade wilson')

### Assignment 9: Indexing and Optimization

1. Create an index on the `name` column of the `employees` table.

In [93]:
conn=sql.connect('test.db')
cursor=conn.cursor()
cursor.execute('''
    create index if not exists idx_name
    on employees(name)
''')
conn.commit()

2. Write a Python function to fetch and display all employees whose names start with a specific letter. Compare the performance with and without the index.

In [94]:
def fetch_names(table_name,letter):
    conn=sql.connect('test.db')
    cursor=conn.cursor()
    cursor.execute(f'''
        Select * from {table_name}
        where name like '{letter}%'
    ''')
    for row in cursor.fetchall():
        print(row)
    conn.close()

fetch_names('employees','W')

(33, 'Wade wilson', 30, 'Assassin')

### Assignment 10: Backing Up and Restoring Data

1. Write a Python function to back up the `test.db` database to a file named `backup.db`.

In [97]:
def backup(live_db,backup_db):
    test_conn=sql.connect(live_db)
    backup_conn=sql.connect(backup_db)

    with backup_conn:
        test_conn.backup(backup_conn,pages=0,progress=None)
        
    test_conn.close()
    backup_conn.close()
    
backup('test.db','backup.db')

2. Write a Python function to restore the `test.db` database from the `backup.db` file.

In [98]:
def restore_db(backup_db,live_db):
    restore_conn=sql.connect(live_db)
    backup_conn=sql.connect(backup_db)

    with restore_conn:
        backup_conn.backup(restore_conn)
        
    restore_conn.close()
    backup_conn.close()
restore_db('backup.db','test.db')