In [1]:
import pandas as pd
df=pd.DataFrame({
    'color':['red','blue','green','blue','green','red','red']
})
df

   color
0    red
1   blue
2  green
3   blue
4  green
5    red
6    red

In [2]:
from sklearn.preprocessing import LabelEncoder
lbl_encoder=LabelEncoder()

In [13]:
lbl_encoder.fit_transform(df[['color']])

d:\Projects\Data-Science-Bootcamp\venv\lib\site-packages\sklearn\preprocessing\_label.py:110: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([2, 0, 1, 0, 1, 2, 2])

In [18]:
lbl_encoder.transform([['red']])

d:\Projects\Data-Science-Bootcamp\venv\lib\site-packages\sklearn\preprocessing\_label.py:129: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

array([2])

In [19]:
lbl_encoder.transform([['green']])

d:\Projects\Data-Science-Bootcamp\venv\lib\site-packages\sklearn\preprocessing\_label.py:129: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

array([1])

In [20]:
lbl_encoder.transform([['blue']])

d:\Projects\Data-Science-Bootcamp\venv\lib\site-packages\sklearn\preprocessing\_label.py:129: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

array([0])

In [28]:
### Ordinal Encoding
from sklearn.preprocessing import OrdinalEncoder

In [29]:
df=pd.DataFrame({
    'size':['small','large','medium','medium','extra large','small','medium','extra large','small','extra large','large','small','medium','extra large','small','medium','large','medium','extra large','medium']
})
df

           size
0         small
1         large
2        medium
3        medium
4   extra large
5         small
6        medium
7   extra large
8         small
9   extra large
10        large
11        small
12       medium
13  extra large
14        small
15       medium
16        large
17       medium
18  extra large
19       medium

In [36]:
OE=OrdinalEncoder(categories=[['small','medium','large','extra large']])
encoded=OE.fit_transform(df[['size']])

In [37]:
OE.transform([['small']])

d:\Projects\Data-Science-Bootcamp\venv\lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but OrdinalEncoder was fitted with feature names
  warnings.warn(

array([[0.]])

In [40]:
encoded_df=pd.DataFrame(encoded,columns=OE.get_feature_names_out())
encoded_df

    size
0    0.0
1    2.0
2    1.0
3    1.0
4    3.0
5    0.0
6    1.0
7    3.0
8    0.0
9    3.0
10   2.0
11   0.0
12   1.0
13   3.0
14   0.0
15   1.0
16   2.0
17   1.0
18   3.0
19   1.0

In [41]:
new_df=pd.concat([df,encoded_df],axis=1)
new_df

           size  size
0         small   0.0
1         large   2.0
2        medium   1.0
3        medium   1.0
4   extra large   3.0
5         small   0.0
6        medium   1.0
7   extra large   3.0
8         small   0.0
9   extra large   3.0
10        large   2.0
11        small   0.0
12       medium   1.0
13  extra large   3.0
14        small   0.0
15       medium   1.0
16        large   2.0
17       medium   1.0
18  extra large   3.0
19       medium   1.0