In [8]:
myset=set(range(1,11))
myset={x for x in range(1,11)}
myset={1,2,3,4,5,6,7,8,9,10}
print(myset,type(myset))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10} <class 'set'>

In [9]:
myset.add(11)
print(myset)
myset.remove(1)
print(myset)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [15]:
s1={x for x in range(1,6)}
s2={x for x in range(2,11,2)}
print(s1,s2)
print(s1.union(s2))
print(s1.intersection(s2))
print(s1.difference(s2))
print(s2.difference(s1))
print(s1.symmetric_difference(s2))

{1, 2, 3, 4, 5} {2, 4, 6, 8, 10}
{1, 2, 3, 4, 5, 6, 8, 10}
{2, 4}
{1, 3, 5}
{8, 10, 6}
{1, 3, 5, 6, 8, 10}

In [17]:
new_set=set(x for x in myset if x%2==0)
print(myset)
print(new_set)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
{2, 4, 6, 8, 10}

In [20]:
s3={1,2,2,3,3,3,4,4,5}
print(s3)

{1, 2, 3, 4, 5}

In [21]:
s4={1,2,3}
print(s4.issubset(s3))
print(s3.issuperset(s4))

True
True

In [24]:
fs=frozenset(range(1,6))
print(fs,type(fs))

frozenset({1, 2, 3, 4, 5}) <class 'frozenset'>

In [25]:
s3={1,2,3,4,5}
lst=list(s3)
lst.append(6)
s3=set(lst)
print(s3)

{1, 2, 3, 4, 5, 6}

In [30]:
keys={1,2,3,4,5}
values=[10,20,30,40,50]
dict={x:y for x in keys for y in values}
print (dict)

{1: 50, 2: 50, 3: 50, 4: 50, 5: 50}

In [ ]:
my_new_set={1,2,3,4,5,6,7,8,9}
for  index,val in enumerate(my_new_set):
    print("element at index ",index," is ",val)

<class 'set'>
element at index  0  is  1
element at index  1  is  2
element at index  2  is  3
element at index  3  is  4
element at index  4  is  5
element at index  5  is  6
element at index  6  is  7
element at index  7  is  8
element at index  8  is  9

In [34]:
while len(my_new_set)>0:
    my_new_set.pop()
    print(my_new_set)

{2, 3, 4, 5, 6, 7, 8, 9}
{3, 4, 5, 6, 7, 8, 9}
{4, 5, 6, 7, 8, 9}
{5, 6, 7, 8, 9}
{6, 7, 8, 9}
{7, 8, 9}
{8, 9}
{9}
set()

In [37]:
s1={1,2,3,4,5}
s2={3,4,5,6}
s1.symmetric_difference_update(s2)
print(s1)

{1, 2, 6}

In [42]:
s1={x for x in range(1,10)}
print(s1)
print(0 in s1)
print(3 in s1)
print(9 in s1)
print(10 in s1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
False
True
True
False

In [51]:
import random
length= random.randint(2,6)
myset={ tuple(random.randint(1,100) for _ in range(2)) for _ in range(length)}
print(myset,type(myset))

{(77, 67), (81, 23)} <class 'set'>